@import "./index.css";

.team-container{
    margin-top: 190px;
    justify-content: center;
    flex-wrap: wrap;
}
.name-avatar-title{
    color: var(--color-white);
}

@media (min-width: 700px) and (max-width: 1400px){
    .team-container{
        flex-wrap: nowrap;
    } 
}